@charset "UTF-8";

:root {
    --color-1: #8a2be2;
    --color-2: #5e12a5;
    --color-3: #d8d7d8;
    --color-4: #cf1010;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
}

h2 {
    color: white;
    text-shadow: 2px 2px 1px var(--color-1);
}

.twitch-link {
    font-weight: 800;
    text-shadow: 1.2px 1.2px 1px var(--color-1);
}

thead {
    background-color: var(--color-4);
}

tbody {
    font-weight: 600;

}

tbody:nth-child(even) {
    background-color: var(--color-2);
    color: white;
}

tbody:nth-child(odd) {
    background-color: var(--color-3);
}